/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,600;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

#logo-head {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #cccccc solid 2px;
}

.logo {
  width: 3%;
  cursor: pointer;
}

.logo img {
  width: 100%;
}

.menu i {
  display: none;
}

.menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8em;
}

.menu li {
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
}

.menu li a {
  color: black;
}

.menu li a:hover {
  color: #2f66dd;
}

.menu li span {
  display: inline-block;
}

.menu li span::after {
  display: block;
  content: '';
  border-bottom: #2f66dd solid 4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.menu li span:hover::after {
  background: none;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.menu li:hover {
  cursor: pointer;
  color: #2f66dd;
}

.butt, #preview .butt3 {
  background-color: white;
  border: 4px solid #2f66dd;
  border-radius: 80px;
  color: #2f66dd;
}

.butt h1, #preview .butt3 h1 {
  margin: 0.5em 2em;
  font-size: 1.5em;
}

.butt:hover, #preview .butt3:hover {
  background-color: #2f66dd;
  color: white;
  cursor: pointer;
}

.card {
  position: absolute;
  width: 30%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 25%;
}

.card .scroller {
  height: 3.1em;
  line-height: 3.45em;
  position: relative;
  overflow: hidden;
  width: 50em;
}

.card .scroller span {
  color: #ff3333;
  font-size: 3em;
  position: absolute;
  top: 0;
  -webkit-animation: slide 5s infinite;
          animation: slide 5s infinite;
  font-weight: bold;
}

@-webkit-keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

#hero-part {
  width: 100%;
  height: 90vh;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../image/self.png);
  background-repeat: no-repeat;
  background-position: right 130px bottom;
  background-size: 820px;
}

#hero-part .text-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 10%;
}

#hero-part .text-hero h1 {
  font-size: 8em;
  font-weight: bold;
}

#hero-part .text-hero p {
  font-size: 2.5em;
  font-weight: lighter;
  padding-top: 16px;
}

#hero-part .text-hero .button-hero {
  width: 150px;
  background-color: #fdbf39;
  color: black;
  text-align: center;
  margin-top: 25px;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 50px;
}

#hero-part .text-hero .button-hero h3 {
  font-size: 1.5em;
}

#hero-part .text-hero .button-hero h3 a {
  color: black;
  text-decoration: none;
}

#hero-part .text-hero .button-hero h3 a:hover {
  color: #fdbf39;
  text-decoration: none;
}

#hero-part .text-hero .button-hero:hover {
  background-color: white;
  -webkit-box-shadow: 3px 4px 5px #c2c2c2;
          box-shadow: 3px 4px 5px #c2c2c2;
}

.spin {
  position: absolute;
  top: 90%;
  left: 45%;
  -webkit-animation: spin 15000ms infinite linear;
          animation: spin 15000ms infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#sec2 {
  width: 100%;
  height: 90vh;
  margin: 200px 120px 0 0;
}

#sec2 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sec2 .title p {
  color: #ff3333;
  font-size: 1.5em;
  font-weight: bold;
}

#sec2 .title h1 {
  font-size: 5em;
  font-weight: bold;
  padding-top: 16px;
}

#sec2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
  margin-top: 48px;
  margin-left: 200px;
  margin-right: 200px;
}

#sec2 .container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#sec2 .container .box i {
  color: #fdbf39;
  padding: 64px 0;
}

#sec2 .container .box h1 {
  font-size: 3em;
  font-weight: bold;
  color: #2f66dd;
}

#sec2 .container .box p {
  padding-top: 32px;
  line-height: 150%;
  font-size: 1.75em;
  color: gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#sec2 .container .box .butt2 {
  width: 180px;
  border: 4px solid #2f66dd;
  background-color: #2f66dd;
  color: white;
  border-radius: 50px;
  text-align: center;
  margin-top: 48px;
  padding: 12px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sec2 .container .box .butt2 h1 {
  font-size: 1.75em;
  font-weight: 600;
  color: white;
}

#sec2 .container .box .butt2 h1 a {
  color: white;
  text-decoration: none;
}

#sec2 .container .box .butt2 h1 a:hover {
  color: #2f66dd;
}

#sec2 .container .box .butt2:hover {
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: 3px 4px 5px #c2c2c2;
          box-shadow: 3px 4px 5px #c2c2c2;
}

#sec2 .container .box:hover {
  cursor: pointer;
  -webkit-box-shadow: 3px 4px 5px #c2c2c2;
          box-shadow: 3px 4px 5px #c2c2c2;
  -webkit-transition: 0.30s ease-in;
  transition: 0.30s ease-in;
}

#preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
}

#preview .text-pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 32px;
}

#preview .text-pre p {
  font-size: 1.5em;
  color: #ff3333;
  font-weight: bold;
}

#preview .text-pre h1 {
  font-size: 5em;
  font-weight: bold;
  color: black;
}

#preview .block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  margin-left: 200px;
  margin-right: 200px;
  gap: 5%;
  width: 100%;
  height: 50%;
  position: relative;
}

#preview .block1 .pic1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50vh;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  margin-left: 200px;
  position: relative;
  -webkit-box-shadow: 3px 4px 5px #c2c2c2;
          box-shadow: 3px 4px 5px #c2c2c2;
}

#preview .block1 .pic1 img {
  width: 120%;
}

#preview .block1 .pic1 .text {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30%;
  color: white;
}

#preview .block1 .pic1 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(47, 102, 221, 0.85);
}

#preview .block1 .pic1:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

#preview .block1 .pic2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50vh;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  margin-right: 200px;
  position: relative;
  -webkit-box-shadow: 3px 4px 5px #c2c2c2;
          box-shadow: 3px 4px 5px #c2c2c2;
}

#preview .block1 .pic2 img {
  width: 120%;
}

#preview .block1 .pic2 .text {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30%;
  color: white;
}

#preview .block1 .pic2 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(47, 102, 221, 0.85);
}

#preview .block1 .pic2:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

#preview .block1 .pic3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50vh;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  margin-left: 200px;
  margin-top: 32px;
  position: relative;
  -webkit-box-shadow: 3px 4px 5px #c2c2c2;
          box-shadow: 3px 4px 5px #c2c2c2;
}

#preview .block1 .pic3 img {
  width: 120%;
}

#preview .block1 .pic3 .text {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30%;
  color: white;
}

#preview .block1 .pic3 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(47, 102, 221, 0.85);
}

#preview .block1 .pic3:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

#preview .block1 .pic4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50vh;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  margin-right: 200px;
  margin-top: 32px;
  position: relative;
  -webkit-box-shadow: 3px 4px 5px #c2c2c2;
          box-shadow: 3px 4px 5px #c2c2c2;
}

#preview .block1 .pic4 video {
  width: 110%;
}

#preview .block1 .pic4 .text {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30%;
  color: white;
}

#preview .block1 .pic4 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(47, 102, 221, 0.85);
}

#preview .block1 .pic4:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

#preview .butt3 {
  margin-top: 64px;
}

#preview .butt3 h1 a {
  font-weight: bold;
  color: #2f66dd;
  text-decoration: none;
}

#preview .butt3 h1 a:hover {
  color: white;
}

footer {
  width: 100%;
  height: 80vh;
  background-color: white;
  margin-top: 100px;
}

footer .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  margin-bottom: 32px;
}

footer .option .option-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0px;
  width: 300px;
  height: 250px;
}

footer .option .option-one h1 {
  font-size: 2.5em;
  padding-bottom: 16px;
  font-weight: bold;
  color: #2f66dd;
}

footer .option .option-one p {
  font-size: 28px;
  padding-top: 16px;
  height: 30px;
  color: #404040;
}

footer .option .option-one p a {
  color: #404040;
  text-decoration: none;
}

footer .option .option-one p a:hover {
  color: #2f66dd;
}

footer .option .option-one p span {
  display: inline-block;
}

footer .option .option-one p span::after {
  display: block;
  content: '';
  border-bottom: #2f66dd solid 4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

footer .option .option-one p span:hover::after {
  background: none;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

footer .option .option-one p:hover {
  color: #2f66dd;
  cursor: pointer;
}

footer .option .option-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0px;
  width: 300px;
  height: 250px;
}

footer .option .option-two h1 {
  font-size: 2.5em;
  padding-bottom: 16px;
  font-weight: bold;
  color: #2f66dd;
}

footer .option .option-two p {
  font-size: 28px;
  padding-top: 16px;
  height: 30px;
  color: #404040;
}

footer .option .option-two p a {
  color: #404040;
  text-decoration: none;
}

footer .option .option-two p a:hover {
  color: #2f66dd;
}

footer .option .option-two p span {
  display: inline-block;
}

footer .option .option-two p span::after {
  display: block;
  content: '';
  border-bottom: #2f66dd solid 4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

footer .option .option-two p span:hover::after {
  background: none;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

footer .option .option-two p:hover {
  color: #2f66dd;
  cursor: pointer;
}

footer .logofoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 56px 0;
}

footer .logofoot img {
  width: 8%;
}

footer .option-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 500px;
}

footer .option-logo .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

footer .option-logo .copyright img {
  width: 8%;
  margin: 16px 0;
}

footer .option-logo .copyright p {
  font-size: 24px;
}

footer .option-logo .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

footer .option-logo .socialmedia p {
  font-size: 24px;
}

footer .option-logo .socialmedia p:hover {
  color: #2f66dd;
  cursor: pointer;
}

#contact-bar {
  width: 90px;
  background-color: white;
  -webkit-box-shadow: 3px 4px 5px #c2c2c2;
          box-shadow: 3px 4px 5px #c2c2c2;
  border-radius: 0 20px 20px 0;
  position: fixed;
  z-index: 10;
  top: 45%;
}

#contact-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #2f66dd;
  font-size: 36px;
}

#contact-bar a:hover {
  border-radius: 0 20px 20px 0;
  color: #fdbf39;
}

#arrow {
  width: 80px;
  height: 80px;
  background-color: white;
  -webkit-box-shadow: 3px 4px 5px #c2c2c2;
          box-shadow: 3px 4px 5px #c2c2c2;
  border-radius: 50px;
  position: fixed;
  z-index: 10;
  top: 90%;
  left: 95%;
}

#arrow a {
  display: block;
  text-align: center;
  padding-top: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #2f66dd;
  font-size: 20px;
}

#arrow a:link {
  text-decoration: none;
}

@media (max-width: 768px) {
  #logo-head {
    padding: 0;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: 100%;
    height: 10%;
  }
  #logo-head .logo {
    display: none;
  }
  #logo-head .menu {
    width: 0 auto;
    right: 32px;
    background-color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #logo-head .menu i {
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 16px;
    position: relative;
    z-index: 5;
  }
  #logo-head .menu i .fa-bars {
    top: 16px;
    right: 32px;
    z-index: 5;
    cursor: pointer;
    font-size: 32px;
    color: #155ea2;
  }
  #logo-head .menu nav {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-transition: 0.5s all ease-in;
    transition: 0.5s all ease-in;
    background-color: #e9e9e9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  #logo-head .menu nav li {
    list-style: none;
    text-align: center;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
  }
  #logo-head .menu nav li a {
    color: #2e2e2e;
  }
  #logo-head .menu nav li a:hover {
    color: #2f66dd;
  }
  #logo-head .menu:hover nav {
    -webkit-transform: translateY(56px);
            transform: translateY(56px);
    position: absolute;
  }
  #logo-head .butt, #logo-head #preview .butt3, #preview #logo-head .butt3 {
    display: none;
  }
  #contact-bar {
    display: none;
  }
  .card {
    display: none;
  }
  #hero-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-image: none;
    background-color: white;
  }
  #hero-part .text-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: 0;
  }
  #hero-part .text-hero h1 {
    font-size: 5em;
  }
  #hero-part .text-hero p {
    font-size: 2em;
  }
  #hero-part .button-hero {
    width: 20%;
    margin-top: 32px;
    border: 4px solid #fdbf39;
  }
  #hero-part .button-hero h3 a {
    font-size: 0.8em;
  }
  .spin {
    display: none;
  }
  #sec2 {
    margin-top: 64px;
    width: 100%;
    height: 100%;
  }
  #sec2 .title p {
    font-size: 1em;
  }
  #sec2 .title h1 {
    font-size: 2.25em;
  }
  #sec2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 16px;
    gap: 5px;
  }
  #sec2 .container .box {
    padding: 32px;
  }
  #sec2 .container .box h1 {
    font-size: 2em;
  }
  #sec2 .container .box p {
    font-size: 1em;
  }
  #sec2 .container .butt2 {
    width: 100px;
    border: 4px solid #2f66dd;
    background-color: #2f66dd;
    color: white;
    border-radius: 20px;
    text-align: center;
    margin-top: 48px;
    padding: 2px 4px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #sec2 .container .butt2 h1 a {
    font-size: 0.65em;
    color: white;
    text-decoration: none;
  }
  #preview {
    display: block;
    margin-top: 64px;
  }
  #preview .text-pre {
    margin-bottom: 72px;
  }
  #preview .text-pre p {
    font-size: 1em;
  }
  #preview .text-pre h1 {
    font-size: 2.25em;
  }
  #preview .block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
    gap: 64px;
  }
  #preview .block1 .pic1 {
    margin-left: 0;
  }
  #preview .block1 .pic1 img {
    width: 250%;
  }
  #preview .block1 .pic1 .text {
    margin-top: 50%;
    font-size: 1.5em;
  }
  #preview .block1 .pic2 {
    margin-right: 0;
    margin-top: 0;
  }
  #preview .block1 .pic2 img {
    width: 250%;
  }
  #preview .block1 .pic2 .text {
    margin-top: 50%;
    font-size: 1.5em;
  }
  #preview .block1 .pic3 {
    margin-left: 0;
  }
  #preview .block1 .pic3 img {
    width: 250%;
  }
  #preview .block1 .pic3 .text {
    margin-top: 50%;
    font-size: 1.5em;
  }
  #preview .block1 .pic4 {
    margin-right: 0;
    margin-top: 0;
  }
  #preview .block1 .pic4 video {
    width: 180%;
  }
  #preview .block1 .pic4 .text {
    margin-top: 50%;
    font-size: 1.5em;
  }
  #preview .butt3 {
    width: 50%;
    color: black;
    text-align: center;
    padding: 6px 16px;
    cursor: pointer;
    border-radius: 50px;
    border: 3px solid #2f66dd;
    display: block;
    margin: 64px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #preview .butt3 h1 {
    margin: 0 auto;
  }
  #preview .butt3 h1 a {
    font-size: 0.75em;
    color: #2f66dd;
    text-decoration: none;
  }
  #preview .butt3:hover {
    background-color: #fdbf39;
    -webkit-box-shadow: 3px 4px 5px #c2c2c2;
            box-shadow: 3px 4px 5px #c2c2c2;
  }
  footer {
    width: 100%;
    height: 80vh;
    background-color: white;
    margin-top: 100px;
  }
  footer .option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 80px;
    margin-bottom: 32px;
    gap: 32px;
  }
  footer .option .option-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0px;
    width: 300px;
    height: 250px;
  }
  footer .option .option-one h1 {
    font-size: 2.5em;
    padding-bottom: 16px;
    font-weight: bold;
    color: #2f66dd;
  }
  footer .option .option-one p {
    font-size: 28px;
    padding-top: 16px;
    height: 30px;
    color: #404040;
  }
  footer .option .option-one p a {
    font-size: 0.75em;
    color: black;
    text-decoration: none;
  }
  footer .option .option-one p span {
    display: inline-block;
  }
  footer .option .option-one p span::after {
    display: block;
    content: '';
    border-bottom: #2f66dd solid 4px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  footer .option .option-one p span:hover::after {
    background: none;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  footer .option .option-one p:hover {
    color: #2f66dd;
    cursor: pointer;
  }
  footer .option .option-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0px;
    width: 300px;
    height: 250px;
  }
  footer .option .option-two h1 {
    font-size: 2.5em;
    padding-bottom: 16px;
    font-weight: bold;
    color: #2f66dd;
  }
  footer .option .option-two p {
    font-size: 28px;
    padding-top: 16px;
    height: 30px;
    color: #404040;
  }
  footer .option .option-two p a {
    font-size: 0.75em;
    color: black;
    text-decoration: none;
  }
  footer .option .option-two p span {
    display: inline-block;
  }
  footer .option .option-two p span::after {
    display: block;
    content: '';
    border-bottom: #2f66dd solid 4px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  footer .option .option-two p span:hover::after {
    background: none;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  footer .option .option-two p:hover {
    color: #2f66dd;
    cursor: pointer;
  }
  footer .logofoot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 32px 0;
  }
  footer .logofoot img {
    width: 20%;
  }
  footer .option-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  footer .option-logo .copyright {
    display: none;
  }
  footer .option-logo .socialmedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5%;
    margin-bottom: 15%;
    gap: 30px;
  }
  footer .option-logo .socialmedia p {
    font-size: 24px;
  }
  footer .option-logo .socialmedia p:hover {
    color: #2f66dd;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */