@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,600;1,800;1,900&display=swap');

//variable//
$primary-color: rgb(47, 102, 221);
$secondary-color: rgb(253, 191, 57);
$third-color: rgb(255, 51, 51);
$text-primary-color: white;
$breakpoint-pc: 768px;

body{
    font-family: 'Poppins', sans-serif;
}

@mixin border($color, $width){
    border-bottom: $color solid $width;
}

#logo-head {
    // overflow: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    // padding: 20px 64px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $text-primary-color;
    align-items: center;

    @include border(lighten(black, 80%), 2px);


}

.logo {
    width: 3%;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.menu {
    i {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8em;
    }

    li {
        list-style: none;
        font-size: 1.5em;
        font-weight: bold;

        a {
            color: black;

            &:hover {
                color: $primary-color;
            }
        }

        span {
            display: inline-block;

            &::after {
                display: block;
                content: '';
                @include border($primary-color, 4px);
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
                transform-origin: 100% 50%;
            }

            &:hover::after {
                background: none;
                transform: scaleX(1);
                transform-origin: 0% 50%;
            }
        }

        &:hover {
            cursor: pointer;
            color: $primary-color;
        }
    }
}

.butt {
    background-color: $text-primary-color;
    border: 4px solid $primary-color;
    border-radius: 80px;
    color: $primary-color;

    h1 {
        margin: 0.5em 2em;
        font-size: 1.5em;
    }

    &:hover {
        background-color: $primary-color;
        color: $text-primary-color;
        cursor: pointer;
    }
}

#arrow{
    width: 80px;
    height: 80px;
    background-color: $text-primary-color;
    box-shadow: 3px 4px 5px rgb(194, 194, 194);
    border-radius: 50px;
    position: fixed;
    z-index: 10;
    top: 90%;
    left: 95%;
    
    a {
        display: block;
        text-align: center;
        padding-top: 20px;
        transition: all 0.3s ease;
        color: $primary-color;
        font-size: 20px;

        &:link {
            text-decoration: none;
        }
    }
}

#hero{
    width: 100%;
    height: 90vh;

    .front{
        width: 100%;
        height: 60vh;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;

        

        .image-hero{
            width: 50%;
            height: 65.15vh;
            
            border-radius: 25px;
            box-shadow: 30px 37px $secondary-color;
            

            margin-left: 200px;
            
            animation: appear 0.5s ease-in;
            img{
                border-radius: 25px;
                overflow: hidden;
                object-fit: cover;
                width: 100%;
            }

        }

        @keyframes appear{
            from{opacity:0;}
            to{opacity: 1;}
        }

        .text1{
            width: 50%;
            height: 50vh;
            margin-right: 200px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 32px;

            h1{
                font-size: 5em;
                font-weight: bold;
                font-style: italic;
            }
            p{
                font-size: 1.5em;
                color: lighten(black, 30%);
                line-height: 150%;
            }
        }
    }

    #hero-part{
        overflow: hidden;
        width: 100%;
        height: 25vh;
        // display: flex;
        // flex-direction: column;
        align-items: center;
        background-color: $text-primary-color;
        position: relative;
        z-index: -10;
    
        transform: skewY(-3deg);
    
        .bg-text-container {
            transform: translateX(-50%);
            left: 90%;
            top: 0;
            position: absolute;
            z-index: -10;
        }
        
        
        @keyframes text-scrolling {
            0% { transform: translate3d(-100%, 0, 0); }
            100% { transform: translate3d(0%, 0, 0); }
        }
        
        .animate-text {
            animation: text-scrolling 20s linear infinite;
            will-change: transform;
            display: block;
            position: relative;
            white-space: nowrap;
            
            
            &.left {
                animation-direction: reverse;
            }
            
            span {
                font-size: 175px;
                color: transparent;
                -webkit-text-stroke: 2px $secondary-color;
                text-transform: uppercase;
                display: inline-block;
                line-height: 145px;
                min-width: auto;
                font-weight: 800;
              }
        }
        
        
    }
    
}

footer {
    width: 100%;
    height: 80vh;
    background-color: $text-primary-color;
    margin-top: 100px;

    .option {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 80px;
        margin-bottom: 32px;

        .option-one {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            padding-top: 0px;
            width: 300px;
            height: 250px;

            h1 {
                font-size: 2.5em;
                padding-bottom: 16px;
                font-weight: bold;
                color: $primary-color;
            }

            p {
                font-size: 28px;
                padding-top: 16px;
                height: 30px;
                color: lighten(black, 25%);

                a{
                    color: lighten(black, 25%);
                    text-decoration: none;
                    &:hover{
                        color: $primary-color;
                    }
                }

                span {
                    display: inline-block;


                    &::after {
                        display: block;
                        content: '';
                        @include border($primary-color, 4px);
                        transform: scaleX(0);
                        transition: transform 250ms ease-in-out;
                        transform-origin: 100% 50%;
                    }

                    &:hover::after {
                        background: none;
                        transform: scaleX(1);
                        transform-origin: 0% 50%;
                    }
                }

                &:hover {
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }

        .option-two {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            padding-top: 0px;
            width: 300px;
            height: 250px;

            h1 {
                font-size: 2.5em;
                padding-bottom: 16px;
                font-weight: bold;
                color: $primary-color;
            }

            p {
                font-size: 28px;
                padding-top: 16px;
                height: 30px;
                color: lighten(black, 25%);

                a{
                    color: lighten(black, 25%);
                    text-decoration: none;
                    &:hover{
                        color: $primary-color;
                    }
                }

                span {
                    display: inline-block;

                    &::after {
                        display: block;
                        content: '';
                        @include border($primary-color, 4px);
                        transform: scaleX(0);
                        transition: transform 250ms ease-in-out;
                        transform-origin: 100% 50%;
                    }

                    &:hover::after {
                        background: none;
                        transform: scaleX(1);
                        transform-origin: 0% 50%;
                    }
                }

                &:hover {
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }
    }

    .logofoot {
        display: flex;
        justify-content: center;
        margin: 56px 0;

        img {
            width: 8%;
        }
    }

    .option-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 500px;


        .copyright {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            img {
                width: 8%;
                margin: 16px 0;
            }

            p {
                font-size: 24px;
            }
        }

        .socialmedia {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 30px;

            p {
                font-size: 24px;

                &:hover {
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width:$breakpoint-pc){
    
    #logo-head {
        padding: 0;
        justify-content: right;
        width: 100%;
        height: 10%;

        .logo {
            display: none;
        }

        .menu {
            width: 0 auto;
            right: 32px;
            background-color: $text-primary-color;
            box-sizing: border-box;

            i {
                display: inline-block;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                margin-right: 16px;
                position: relative;
                z-index: 5;

                .fa-bars {
                    top: 16px;
                    right: 32px;
                    z-index: 5;
                    cursor: pointer;
                    font-size: 32px;
                    color: rgb(21, 94, 162);
                }

            }

            nav {
                position: absolute;
                top: 0;
                right: 0px;
                width: 100%;
                z-index: 1;
                transform: translateY(-500px);
                transition: 0.5s all ease-in;
                background-color: rgb(233, 233, 233);
                display: flex;
                flex-direction: column;
                gap: 16px;

                li {
                    list-style: none;
                    text-align: center;
                    padding-right: 8px;
                    padding-left: 8px;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    cursor: pointer;

                    a{
                        color: rgb(46, 46, 46);
                        &:hover{
                            color: $primary-color;
                        }
                    }
                }
            }

            &:hover {
                nav {
                    transform: translateY(56px);
                    position: absolute;
                    // z-index: -1;
                }
            }

        }

        .butt {
            display: none;
        }
    }

    #hero{
        width: 100%;
        height: 70vh;
        margin-top: 65%;

        #hero-part{
            display: none;
        }

        .front{
            display: flex;
            flex-direction: column-reverse;
            margin: 0;
            .image-hero{
                width: 50%;
                margin-left: 0;
                animation: none;
                box-shadow: none;
                border: none;
                
                img{
                    width: 100%;
                }
            }
            .text1{
                margin-right: 0;
                h1{
                    font-size: 2.5em;
                }
                p{
                    font-size: 1em;
                }
            }
        }
    }

    footer {
        width: 100%;
        height: 80vh;
        background-color: $text-primary-color;
        margin-top: 100px;

        .option {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 80px;
            margin-bottom: 32px;
            gap: 32px;

            .option-one {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;

                padding-top: 0px;
                width: 300px;
                height: 250px;

                h1 {
                    font-size: 2.5em;
                    padding-bottom: 16px;
                    font-weight: bold;
                    color: $primary-color;
                }

                p {
                    font-size: 28px;
                    padding-top: 16px;
                    height: 30px;
                    color: lighten(black, 25%);

                    a{
                        font-size: 0.75em;
                        color: black;
                        text-decoration: none;
                    }

                    span {
                        display: inline-block;


                        &::after {
                            display: block;
                            content: '';
                            @include border($primary-color, 4px);
                            transform: scaleX(0);
                            transition: transform 250ms ease-in-out;
                            transform-origin: 100% 50%;
                        }

                        &:hover::after {
                            background: none;
                            transform: scaleX(1);
                            transform-origin: 0% 50%;
                        }
                    }

                    &:hover {
                        color: $primary-color;
                        cursor: pointer;
                    }
                }
            }

            .option-two {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;

                padding-top: 0px;
                width: 300px;
                height: 250px;

                h1 {
                    font-size: 2.5em;
                    padding-bottom: 16px;
                    font-weight: bold;
                    color: $primary-color;
                }

                p {
                    font-size: 28px;
                    padding-top: 16px;
                    height: 30px;
                    color: lighten(black, 25%);

                    a{
                        font-size: 0.75em;
                        color: black;
                        text-decoration: none;
                    }

                    span {
                        display: inline-block;

                        &::after {
                            display: block;
                            content: '';
                            @include border($primary-color, 4px);
                            transform: scaleX(0);
                            transition: transform 250ms ease-in-out;
                            transform-origin: 100% 50%;
                        }

                        &:hover::after {
                            background: none;
                            transform: scaleX(1);
                            transform-origin: 0% 50%;
                        }
                    }

                    &:hover {
                        color: $primary-color;
                        cursor: pointer;
                    }
                }
            }
        }

        .logofoot {
            display: flex;
            justify-content: center;
            margin: 32px 0;

            img {
                width: 20%;
            }
        }

        .option-logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;


            .copyright {
                display: none;
            }

            .socialmedia {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
                margin-bottom: 15%;
                gap: 30px;

                p {
                    font-size: 24px;

                    &:hover {
                        color: $primary-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


